<div>
  <div [ngClass]="{'open-sidebar': isSidebarOpened,'close-sidebar': !isSidebarOpened}" class="sidebarMenu">
    <app-side-bar [isSidebarOpened]="isSidebarOpened" (sideOpenEvent)="sidebarEvent($event)">
    </app-side-bar>
  </div>
  <div [ngClass]="{'open-menu': isSidebarOpened,'close-menu': !isSidebarOpened}" class="main full-height" fxLayout="column">
    <div>
      <app-header></app-header>
    </div>
      <div class="router-view-div full-height" >
        <router-outlet></router-outlet>
      </div>
  </div>
</div>