
<nav>
    <ul>
        <li><a class="active" href="/binding">binding</a></li>
        <li><a href="/template">templatedriven</a></li>
        <li><a href="/directive">directive</a></li>
        <li><a href="/modeldriven">modeldrivenform</a></li>
        <li><a href="/formvalid">formvalidation anglr</a></li>
        <li><a href="/httpaccess">httpaccess</a></li>
        <li><a href="/object">object</a></li>
        <li><a href="/service">service</a></li>



      </ul>
</nav>
<router-outlet></router-outlet>